<div class="mousehero__admin">
  <div class="admin__login mousehero__centered-panel">
    <input type="password" class="session-form__text admin-login__password" placeholder="{{password}}" />
    <button class="mousehero__button admin-login__button">login</button>
    <div class="session-form__error"></div>
  </div>
  <div class="admin__session-upload mousehero__centered-panel">
    <h2 class="session-upload__title">click to upload sessions to server DB</h1>
    <img class="preloader" src="images/ajax-loader.gif" alt="loading">
    <div class="session-upload__message"></div>
    <button class="mousehero__button session-upload__button">upload</button>
  </div>
</div>>