<div class="instructions">
  <h1 class="instructions__top-text">במהלך הזמן הבא תופענה מולך בזו אחר זו מספר מטריצות המכילות פרצופים שונים</h1>
  <table>
    <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
    <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
    <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
    <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
  </table>
  <h1 class="instructions__bottom-text">כאשר המטריצה מופיעה אנא צפה/צפי בה בכל דרך שתבחר/י <span style="text-decoration: underline">באמצעות תנועת העכבר</span>, עד שהיא תעלם</h1>
  <h1>מוכן/מוכנה?</h1>
  <h3>על מנת להתחיל יש להקליד על מקש הרווח</h1>

</div>