<div class="instructions">
  <div class="instructions__matrix-first"> 
    <h1 class="instructions__top-text">במהלך הזמן הבא תופענה מולך בזו אחר זו מספר מטריצות המכילות פרצופים שונים</h1>
    <table>
      <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
      <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
      <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
      <tr><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td><td>פרצוף</td></tr>
    </table>
    <h2 class="instructions__continue">על מנת להמשיך יש להקליד על מקש הרווח</h2>
  </div>
  <div class="instructions__matrix-second">
      <h1 class="instructions__top-text">כאשר המטריצה מופיעה אנא צפה/צפי בה בכל דרך שתבחר/י <span style="text-decoration: underline">באמצעות תנועת העכבר</span>, עד שהיא תעלם</h1>
      <h1>מוכן/מוכנה?</h1>
      <h2 class="instructions__continue">על מנת להתחיל יש להקליד על מקש הרווח</h2>
  </div>
  <div class="instructions__fixation">
    <h1 class="instructions__top-text">לפני {{text}} יוצג סימן + במרכז המסך</h1>
    <h1>עליך לעמוד עם סמן העכבר על סימן ה + <br>עד להופעת המטריצה</h1>
    <h2 class="instructions__continue">על מנת להמשיך יש להקליד על מקש הרווח</h2>
  </div>
</div>