@import "/stylesheets/session-form.css";
@import "/stylesheets/he.css";
@import "/stylesheets/instructions.css";
@import "/stylesheets/task.css";
@import "/stylesheets/music-selection.css";

html,
body {
  margin: 0;
}

body {

  color:#494b4d;
}

h1, h3{
  text-align: center;
  font-weight: normal;
}
h1{
  font-size: 2rem;
}


audio{
  display: none;
}

.the-end .instructions__top-text{
  margin-top:45vh;
}
.the-end button{
  visibility:hidden;
}