:root {
  --image-side-length: 950px; 
}

.task{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;

}
.stage {
  position: relative;
  width: var(--image-side-length);
  height: var(--image-side-length);
  margin: auto;
  overflow: hidden;
}

.background-image {
  width: var(--image-side-length);
  height: var(--image-side-length);
  position: absolute;
  background-repeat: no-repeat; 
  background-size: cover;
}


.cursor-circle {
  border-radius: 50%;
  position: absolute;
}


.fixation {
  text-align: center;
  width: 50px;
  font-size: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  position: absolute;
  cursor: cell;

}

.matrix { cursor: none; }

.matrix--loaded-hidden{
  cursor: inherit;
}
.matrix--loaded-hidden .background-image, 
.matrix--loaded-hidden .cursor-circle
{
  background-position: -999999px -999999px;
  background-repeat: no-repeat; 
}